<ion-content padding>
    <div class="topbar">
        <span (click)="navigateBack()"><ion-icon name="arrow-back"></ion-icon> Back</span>
    </div>
    <h3>About:</h3>

    <p>Aiza Radio is a project of Cell.Exchange sponsored by <a href="http://giftmarkaz.com">GiftMarkaz.com</a> & <a
            href="http://backstitch.pk">BackStitch.pk</a></p>

    <p>We appreciate your feed back for any suggestions or advertisement please feel free to contact us at <a
            href="mailto:info@aiza.pk">info@aiza.pk</a></p>

    <p>Kind Regards</p>
    <p><a href="http://aiza.pk">Aiza.pk</a> | <a href="http://giftmarkaz.com">Giftmarkaz.com</a> | <a
            href="http://backstitch.pk">BackStitch.pk</a></p>
</ion-content>
